<%- include("partials/header") %>

<center>
    <div>
        <h1 id="about-heading">Hello there 👋</h1>
        <p id="about-text">This is a website that I have built for the sake of fun 🤓. And for the people who have helped me in building this stuff THANK YOU soo much <br> And special shout out to the people who prepare IELTS for fun Thank you for the motivation 😊 your a inspiration for me 😉</p>
        <h1 id="about-heading">Tech used</h1>
        <p id="about-text">This website is made out of Express js, Node js, Ejs. And the data your seeing is rendered via API which are from NASA API.</p>
        <h1 id="about-heading">Facts</h1>
        <p id="about-text"></p>
    
    </div>
</center>



<%- include("partials/footer") %>