<%- include("partials/header") %>

<!-- Quote started -->

<div id="fact-text">
    <blockquote>
        <%= fact %>
    </blockquote>
</div>

<!-- Quote ended -->
<!-- Button started -->
<div class="container">
    <div class="row">
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/stars.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Astronomy Picture Of Day</h5>
                  <p class="card-text">Everday NASA uploads a Picture of the day of the Universe.</p>
                    <a href="/apod" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/mars.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mars Weather</h5>
                  <p class="card-text">Ever wondered how the weather would be in MARS?</p>
                  <a href="/mars-weather" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/iss.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ISS Data</h5>
                  <p class="card-text">Every day ISS orbits around the Earth 16 times, get the data from ISS.</p>
                  <a target="blank" href="https://www.n2yo.com/" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/near-earth.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Near Earth Objects</h5>
                  <p class="card-text">Every day there are a lot of asteriods that fly past earth. Here are a few of them...</p>
                  <a href="/near-earth" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/mars-images.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mars Images</h5>
                  <p class="card-text">Everyday curiosity rover sends images to earth from mars. Wanna check them out..?</p>
                  <a href="/mars-photos" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
        <div id="con-content" class="col-sm-12 col-lg-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="images/about.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">About</h5>
                  <p class="card-text">Want to know about why and how I built this website? and possibly some cool facts about this website...</p>
                  <a href="/about" class="btn btn-primary">Check</a>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Context -->
<!-- <div>
    <center>
        <p id="context-text">
            Little bit of context "Space Data" is a website that I have built using the help of NASA's API. Which renders the content for you guys. Here you can find facts about space & universe in general. Thank you
        </p>
    </center>
</div> -->



<%- include("partials/footer")%>